.logo-img{
  width: 30%;
}

img{
  max-height: 129px;
}

div.secondary.callout.text-center{
  min-height: 242px;
}

span{
  font-size: 30px;
}

textarea{
  float: right;
}

.comenta{
    font-size: 5rem;
}

body{
  background: url(../img/fondo.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.contenedor{
  background-color: rgba(8, 45, 94, 0.55);
}

.contenedor-secundario{
  background-color: rgba(118, 118, 118, 0.55);
  padding-top: 10px;
}

.right-borde{
  border-right: 1px dotted gray;
  color: white;
}
