.logo-img{
  width: 30%;
}

img{
  width: 80%;
}

div.secondary.callout.text-center{
  min-height: 242px;
}

span{
  font-size: 30px;
}

textarea{
  float: right;
}

.comenta{
    font-size: 4rem;
}

body{
  background: url(../img/fondo.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.contenedor{
  background-color: rgba(8, 45, 94, 0.55);
}

.contenedor-secundario{
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 10px;
  padding-left: 10px;
}

.right-borde{
  border-right: 1px dotted gray;
  color: white;
}

.boton{
  padding-right: 10px;
}

p{
  text-align: justify;
}

.fotoperfil{
  height: 100px;
}

.commentdone{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin:10px;
  background-color: rgba(243, 234, 181, 0.55);
}

cite{
  color: white;
}

.publicaciones{
  background-color: rgba(229, 228, 226, 0.55);
}
